@model IEnumerable<Pizzadmin.Data.Order>;
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var no = 0;
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Order List</h4>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary float-right" asp-action="Create"><i class="fa-solid fa-circle-plus"></i> Create</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="example">
                <thead class="text-primary">
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Created at:
                        </th>
                        <th class="text-right">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                        no++;
                        <tr>
                            <td>@no</td>
                            <td>@p.OrderNumber</td>
                            <td>$@p.TotalPrice</td>
                            <td>@p.CreatedAt.ToString("dd/MM/yyyy HH:mm")</td>
                            <td class="text-right">
                                <a asp-action="Delete" asp-route-id="@p.Id" data-toggle="tooltip" data-placement="top" title="Remove">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .card {
            width: 90%;
            margin-left: 5%;
        }

        button.dt-paging-button:hover {
            background: #f96332 !important; /* your hover color */
            color: #fff !important; /* text color */
        }

        /* Current (active) page button */
        button.dt-paging-button.current {
            background: #f96332 !important; /* Blue (or your color) */
            color: #fff !important; /* White text */   
            border-color: #f96332 !important;
        }
        /* Disabled state */
        button.dt-paging-button.disabled {
            background-color: #e9ecef !important;
            color: #6c757d !important;
            cursor: not-allowed;
        }
    </style>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>
     <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css">


    <script>
        $('#example').DataTable();
    </script>
   
}